<nb-card>
  <nb-card-header>
    {{cardheader}}
  </nb-card-header>
  <nb-card-body>

    <dx-data-grid id="gridContainer" [dataSource]="dataSourceBondMaster" [editing]="editing" [remoteOperations]="true" allowColumnResizing="true"
      [columnAutoWidth]="true" (onContentReady)="onContentReady($event)" (onCellPrepared)="onCellPrepared($event)"
       (onToolbarPreparing)="onToolbarPreparing($event)">
      <dxo-load-panel [enabled]="true"></dxo-load-panel>
      <dxo-column-chooser [enabled]="true" mode="dragAndDrop"></dxo-column-chooser>
      <dxo-state-storing [enabled]="true" type="localStorage" storageKey="{{key}}"></dxo-state-storing>
      <dxo-column-fixing [enabled]="true"></dxo-column-fixing>    
      <dxo-search-panel [visible]="true" [width]="240" placeholder="Search..."></dxo-search-panel>
      <dxo-filter-row [visible]="true"></dxo-filter-row>
      <dxo-export [enabled]="true" fileName="{{key}}" [allowExportSelectedData]="true"></dxo-export>
     

      <dxi-column  dataField="isin" caption="ISIN" [fixed]="true" fixedPosition="left"></dxi-column>
      <dxi-column dataField="yellowkey" caption="yellowkey"></dxi-column>
      <dxi-column dataField="ccy" caption="Currency">
        <dxo-lookup [dataSource]="currencies" displayExpr="code" valueExpr="code">
        </dxo-lookup>
      </dxi-column>

      <dxi-column dataField="cty" caption="Country">
        <dxo-lookup [dataSource]="countries" displayExpr="name" valueExpr="code">
        </dxo-lookup>
      </dxi-column>

      <dxi-column dataField="ticker" caption="Ticker" ></dxi-column>
      <dxi-column dataField="issuername" caption="Issuer Name" ></dxi-column>
      <dxi-column dataField="isfloater" caption="Is Floater" ></dxi-column>
      <dxi-column dataField="islinker" caption="is linker" ></dxi-column>
      <dxi-column dataField="isgreen" caption="is green" ></dxi-column>
      <dxi-column dataField="ismbs" caption="is mbs" ></dxi-column>
      <dxi-column dataField="coupon" caption="Coupon" ></dxi-column>
      <dxi-column dataField="couponfrequency" caption="Coupon Frequency" ></dxi-column>
      <dxi-column dataField="maturitydate" caption="Maturity Date"  dataType="date" format="dd-MMM-yyyy" ></dxi-column>
      <dxi-column dataField="pricingsource" caption="Pricing Source" ></dxi-column>
      <dxi-column dataField="pricingfactor" caption="Pricing Factor" ></dxi-column>
      <dxi-column dataField="cusip" caption="Cusip" ></dxi-column>
      <dxi-column dataField="sedol" caption="Sedol" ></dxi-column>
      <dxi-column dataField="secondaryid" caption="Secondary ID" ></dxi-column>
      <dxi-column dataField="description" caption="Description" ></dxi-column>

      <dxo-pager [showPageSizeSelector]="true" [allowedPageSizes]="[10, 20, 50]" [showNavigationButtons]="true">
      </dxo-pager>
      <dxo-paging [pageSize]="10" [pageIndex]="0"></dxo-paging>
      <dxo-editing [allowUpdating]="true" [allowDeleting]="true" [allowAdding]="true">
      </dxo-editing>
    </dx-data-grid>
  </nb-card-body>
</nb-card>